@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    font-family: 'Source Code Pro', sans-serif;
    color: aliceblue;
}

body {
    background-color: #271927;
}

.win {
    margin: 20vh 0 15vh 0;
}

.win p {
    margin: 7vh;
    text-align: center;
    font-size: 3em;
}

.loose {
    margin: 20vh 0 15vh 0;
}

.loose p {
    margin: 7vh;
    text-align: center;
    font-size: 1.1em;
}

.loose .hang {
    display: flex;
    justify-content: space-around;
}

.game {
    margin: 4vh;
}

.game * {
    margin: 2vh;
    text-align: center;
    font-size: 1.1em;
}

.game input {
    color: black;
}

.stateBtn {
    display: flex;
    margin: 5vh;
    justify-content: space-around;
    font-size: 2em;
}

.btn {
    text-decoration: none;
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    font-size: 1.1em
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn:hover::after {
    opacity: 1;
    transform: scale(1,1);
}