{{define "hangmanEasy"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
	<body>
		<div>
			<div>
				<p>Bienvenue dans le jeu du pendu version web !</p>
				<p>Voilà le mot à trouver: {{.WordToGuess}}</p>
				<p>Mot caché: {{.HiddenWord}}</p>
				<form method="get">
					<input type="text" name="userinput"><br />
					<input type="submit" value="Essayer cette lettre">
				</form>
				<p>Lettre essayé: {{.Proposition}}</p>
				<p>Tentatives restantes: {{.Lives}}</p>
				<a href="/">Retour à l'accueil</a>
			</div>
			{{if .Win}}
			{{template "win"}}
			{{else if .Loose}}
			{{template "loose"}}
			{{end}}
		</div>
	</body>
</html>
{{end}}