{{define "hangman"}}
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/index.css">
		<title>HangMan Web</title>
	</head>

	<body>
		<div>
			<div>
				<p>Bienvenue dans le jeu du pendu version web !</p>
				<p>Voilà le mot à trouver: {{.WordToGuess}}</p>
				<p>Mot caché: {{.HiddenWord}}</p>
				<form method="POST">
					<input type="text" name="userinput"><br />
					<input type="submit" value="Essayer cette lettre">
				</form>
				<p>Lettre essayé: {{.Proposition}}</p>
				<p>Tentatives restantes: {{.Lives}}</p>
				<a href="/">Retour à l'accueil</a>
			</div>
			{{if .Win}}
				{{template "win"}}
			{{else if .Loose}}
				{{template "loose"}}
			{{end}}
		</div>
	</body>

</html>
{{end}}